.btn-custom {
    padding: 0.25rem 0.5rem; /* Atur padding sesuai kebutuhan */
    font-size: 0.875rem; /* Ukuran font lebih kecil jika diperlukan */
    margin: 1rem; /* Atur margin sesuai kebutuhan */
}